.profileContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}

.edit_profilePic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.phi_img {
    position: relative;
}

.phi_img img {
    width: 172px;
    height: 172px;
    border-radius: 50%;
}

.edit_image {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: var(--bg-color);
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.25rem;
    flex-shrink: 0;
    border-radius: 50%;
}

.edit_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    gap: 1.25rem;
}

.edit_input_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;  
    gap: 0.15rem;
}

.edit_input_container label {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 0.80rem;
    color: var(--text-main);
}

.edit_input {
    display: block;
    margin: 0;
    padding: 0.6rem 0.6rem;
    color: inherit;
    width: 100%;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    font-weight: inherit;
    border: 2px solid var(--primary-color);
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
    width: 100%;
    color: var(--text-main);
    background-color: transparent;
}

.edit_input::-moz-placeholder {
    color: #3333336e;
}
  
.edit_input:-ms-input-placeholder {
    color: #3333336e;
}
  
.edit_input::placeholder {
    color: #3333336e;
}
  
.edit_input:focus {
    outline: none;
    box-shadow: 0.1rem 0.24rem 0.28rem #1e3d5963;
}


.passSec {
   padding: 2rem; 
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 3rem;
}

.resetPass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetPass button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 7px;
    height: 40px;
    width: 180px;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 0.85rem;
    text-transform: inherit;
}

.resetPass button:hover {
    background-color: var(--primary-color);
}

.save_profile {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2rem;
}


.profile_btns {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 20px;
    height: 36px;
    width: 100px;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 0.95rem;
    text-transform: inherit;
}


.bookings__header {
    margin: 1rem 0;
}

.bookings__header h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-family: var(--primary-font);
}

.bookings__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.booked_card {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 500px;
    border: 4px solid var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .96);
}

.remove__booking_icon {
    position: absolute;
    right: -9px;
    top: -9px;
    font-size: 1.7rem;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    color: #e61b1b;
}

.booked__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--primary-font);
    color: var(--text-main);
}

.booked__left h1 {
    font-size: 1.5rem;
}
.booked__left h3 {
    font-size: 1rem;  
    color: #333333;
}

.booked__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: var(--secondary-font);
    color: var(--text-main);
}

.booked__right h1 {
    font-size: 1.5rem;
}
.booked__right h3 {
    font-size: 1rem;  
    color: #333333;
}


@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .edit_profilePic {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .phi_img img {
        width: 142px;
        height: 142px;
    }
    .edit_info {
        padding: 1rem;
    }
    .edit_input_container {
        width: 100%;
    }

    .bookings__header {
        margin: 0.5rem;
    }

    .bookings__header h1 {
        font-size: 1.5rem;
    }

    .booked_card {
        width: 100%;
        padding: 0.75rem;
    }

    .booked__left h1 {
        font-size: 1.3rem;
    }
    .booked__left h3 {
        font-size: 0.9rem;  
    }

    .booked__right h1 {
        font-size: 1.3rem;
    }
    .booked__right h3 {
        font-size: 0.9rem;  
    }
}

@media screen and (max-width: 600px) {
    .edit_info {
        padding: 1rem 0rem;
    }
}

@media screen and (max-width: 400px) {

}