.about {
    height: 100vh;
}

.about-body{
    padding-top: .5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  
}

.about-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.6;
    height: fit-content;
    height: 100%;

}

.about-text {
    margin: 1rem;
    width: 100%;
}

.about-text > h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: var(--primary-font); 
    color: var(--secondary-color);
    line-height: 96%;
}

.about-text>p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    font-family: var(--primary-font); 
}
.about-img{
    margin-top: 40px;
}



.about-img>img{
    width: 400px;
    pointer-events: none;
}

@media (min-width: 992px) and (max-width: 1380px) {
    .about{
        height: fit-content;
    }
    .about-body{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
  }
   .about-description{
       margin: 2rem;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: flex-start;
   }

   .about-text {
        margin: 1rem;
        flex: 0.5;
    }

   .about-text > h2 {
        white-space: nowrap;
   }
    
}
@media screen and (max-width: 992px){
    .about{
        height: fit-content;
    }
    .about-description{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .about-body{
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
  }
  
  .about-description{
      margin: 0;
  }

  .about-description > h2{
      font-size: 2.5rem;
  }

  .about-img{
      margin-bottom: 2rem;
  }

  .about-img > img{
      width: 400px;
  }
  .about-text > h2 {
    margin-bottom: 5px;
    font-size: 1.75rem;
}
    
}

@media screen and (max-width: 800px){
    .about-description{
        display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      margin: 0;
    }

    .about-img > img{
        width: 300px;
    }
      
}


@media screen and (max-width: 600px){
    .about-img > img{
        width: 100%;
    }
      
}