.mainNav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.profile_icon {
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .mainNav {
        height: 70px;
        padding: 0 1rem;
    }
}