.mainNav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    backdrop-filter: blur(10px);
    box-shadow:  14px 14px 28px #d65c36,
             -14px -14px 28px #ff804a;
}

.mainNav img {
    width: 150px;
    cursor: pointer;
}

.profile_icon {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .mainNav img {
        width: 100px;
    }
    
}

@media screen and (max-width: 800px) {
    .mainNav {
        height: 70px;
        padding: 0 1rem;
    }
}