.events {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventsLeft {
    flex: 0.5;
}

.eventsLeft img {
    width: 80%;
}

.eventsRight {
    flex: 0.5; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.eventsRight__container {
    background-color: var(--yellow);
    border: 8px solid var(--text-main);
    border-radius: 3px 42px 3px;
    width: 45%;
    height: 65%;
    transform: rotate(-5deg);
    padding: 1rem;
    padding-top: 6rem;
    position: relative;
}

.events_light {
    position: absolute;
    width: 40px;
    top: 0;
    right: 30px;
    transform: rotate(-10deg);
    animation: mymove 2s infinite;
}

.eventsRight__container h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
}

.eventsRight__container p {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: 1rem;
}

@keyframes mymove {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);    
    }
  }


@media (min-width: 992px) and (max-width: 1380px) {
    .eventsRight__container {
        width: 65%;
        height: 65%;
    }
}


@media screen and (max-width: 992px) {
    .eventsLeft {
        display: none;  
    }
    .eventsRight {
        flex: 1;
    }  
    .eventsRight__container {
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 800px) {
    .eventsRight__container {
        width: 75%;
        height: 65%;
    }
    .eventsRight__container h1 {
        font-size: 2rem;
    }
    .eventsRight__container p {
        font-size: 1.05rem;
        margin-top: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    .eventsRight__container {
        width: 85%;
        height: 65%;
    }
}

@media screen and (max-width: 400px) {

}