.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.35rem;
}


.nav_item{
    color: var(--text-main);
    font-size: 1.15rem;
    font-family: var(--secondary-font);
    font-weight: 600;
}

.nav_selected {
    font-weight: 800;
    color: var(--primary-color);
}


.navbar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navBtn {
    outline: none;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Neucha', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}

.nav_login {
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
}

.nav_signup {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    background: none;
}