.guide {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}