.homePage {
    background-color: var(--bg-color);
    padding: 0 2.5rem;
    background: url('../../assets/svg/Home/shopBg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}


@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .homePage {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}