.loginSignin {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.ls__left {
    flex: 0.3;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.ls__left h3 {
    color: #ffc13b;
    font-family: var(--primary-font);
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.ls__left img {
    width: 60%;

}

.ls__right {
    flex: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ls__right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 90%;
}

.loginSignin__form {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    width: 100%;
}

.loginSignin__form h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.ls_input_row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.ls_input_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    gap: 0.25rem; 
    width: 100%; 

}

.ls_input_container label {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--text-main);
}

.ls_input {
    display: block;
    margin: 0;
    padding: 0.6rem 0.6rem;
    color: inherit;
    width: 100%;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: inherit;
    border: 2px solid var(--secondary-color);
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
    width: 100%;
    color: var(--text-main);
    background-color: transparent;
}
  
.ls_input::-moz-placeholder {
    color: #3333336e;
}
  
.ls_input:-ms-input-placeholder {
    color: #3333336e;
}
  
.ls_input::placeholder {
    color: #3333336e;
}
  
.ls_input:focus {
    outline: none;
    box-shadow: 0.1rem 0.24rem 0.28rem #1e3d5963;
}

.ls_input_submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.75rem;
    margin-top: 1rem;
}

.ls_input_submit button {
    outline: none;
    width: 175px;
    height: 40px;
    border-radius: 10px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    background: var(--secondary-color);
    color: var(--bg-color);
    border: none;
}

.ls_input_submit p {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--text-main);
}

.ls_input_submit p a {
    color: var(--primary-color);
    font-family: var(--primary-font);
    cursor: pointer;
    font-weight: 800;
    margin-left: 0.25rem;
}